@import "tailwindcss";

:root {
  --orange-color: #009327;
  --white-color: #ffffff;
  --black-color: #171717; 
  --red-color: #dc2626;
  --secondary-color: #78716c;
  --drop-shadow: box-shadow: 0px 2px 4px 2px #00000026;
}
